body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #c3c3c3;
}

header {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}